<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.loyer.modules.tools.mapper.mysql.UtilMapper">

    <insert id="insert" parameterType="com.loyer.modules.tools.entity.Sequence" useGeneratedKeys="true" keyProperty="value">
        INSERT INTO sequence () VALUES ()
    </insert>
</mapper>